# Data and Logs
backend/data/
backend/logs/
*.log

# Python
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environment and Secrets
.env
backend/render/.env
**/.env

# Project specific
Data_Test/
node_modules/
.DS_Store